* {
  font-family: 'Poppins', sans-serif;
}
.request_container {
  width: 73%;
  margin: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 120px;
  margin-left: 330px;
}

.tableheader {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ddd;
  background-color: #e0f7ff;
  
}
.tableheader div {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  background:#e0f7ff;
  flex: 1;
  text-align: center;
  font-weight: bold;
  
}
.tableheader div.active {
  background:#b3e5fc;
  color: black;
}


.table-container {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e0f7ff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}
.table-container.active{
  background: #b3e5fc;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #b3e5fc;
  padding: 12px 15px;
  text-align: left;
  font-weight: bold;
  color: #333;
}

td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}



.status-badge.requested {
background-color: #FFF8DC;
color: #DAA520;
}

.status-badge.scheduled {
background-color: #b4f5fe;
color: #0097A7;
}

.status-badge.completed {
background-color: #E8F5E9;
color: #388E3C;
}

.status-badge.cancelled {
background-color: #FFEBEE;
color: #D32F2F;
}

.status-badge.rejected {
background-color: #EFEBE9;
color: #5D4037;
}


.modal {
display: none;
position: fixed;
z-index: 100;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.5);
}

.modal-content {
background-color: white;
margin: 10% auto;
padding: 20px;
border-radius: 8px;
width: 50%;
max-width: 500px;
}




.status-badge {
padding: 5px 10px;
border-radius: 20px;
font-size: 0.9em;
font-weight: bold;
display: inline-block;
}


.cancel-btn {
background-color:#E14177;
color: white;
border: none;
padding: 6px 12px;
border-radius: 4px;
cursor: pointer;
}

.view-btn {
background-color: #E14177;
color: white;
border: none;
padding: 6px 12px;
border-radius: 4px;
cursor: pointer;
}

.no-data {
text-align: center;
padding: 20px;
color: #757575;
}

.error {
color: #E14177;
font-style: italic;
}



.tutor-photo {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 1rem;
}