.ad_page_container {
    margin-top: -3%;
    font-family: Arial, sans-serif;
    margin-left:27%;
    padding-top: 50px;
    width:800px;
    height: auto;
}

h1 {
    padding-top: 2%;
    text-align: center;
    color: rgba(41, 50, 65,1);
}

.ad-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.ad-form input[type="file"]{
    margin-left: 25%;
}

.ad-form input, .ad-form textarea {
    width: 50%;
    padding: 0.5em;
    font-size: 1em;
}

.update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.update-form textarea {
    width: 300px;
    height: 200px;
    padding: 0.5em;
    font-size: 1em;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin: 2em;
}

.ad {
    border: 1px solid #ddd;
    padding: 1em;
    max-width: 200px;
}

.ad img {
    max-width: 100%;
    height: auto;
    max-height: 170px;
}


 
.update-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.update-popup-content {
    margin-top: 12%;
    margin-left: 35%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
}

.update-button-box{
    display: flex;
    gap: 15px;
}
       
.gallery .ad {
    margin-bottom: 20px;
}

.button-box{
    display: inline-block;
    gap: 15px;
}


.ad-button {
    display: block;
    width: 75px;
    height: 40px;
    padding: 10px;
    background-color: #ff4081;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

.ad-button:hover {
    background-color: #e03570;
}
    
.ad.selected {
    background-color: #CBF1F9;
    color: black;
    border: 2px solid  rgba(41, 50, 65,1);
}

.chosen-ad-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 1000;
}

.chosen-ad-popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 18%;
    margin-left: 35%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
}

.del-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 1000;
}

.del-popup-content {
    margin-top:-2%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#imagePreviewContainer img {
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.modal-button {
    background-color: #ff4081;
    color: white;
    border: none;
    margin-top:15px;
    padding: 10px 18px;
    width: 80px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #e03570;
}


.ad-description {
    height:150px;
}

.upload-box{
    width :auto;
    padding: 20px;
    background-color: #CBF1F9;
    margin-top:10%;
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
}

        
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.59); 
}


.modal-content {
    border-top: 6px solid #e03570;
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    align-items: center;
}


.close {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #000;
}


.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.confirm-button {
    background-color: #ff4081;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #e03570;
}

.modal-cancel-button {
    background-color: #ddd;
    color: #333;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-cancel-button:hover {
    background-color: #bbb;
}