/*edit profile*/


.profile-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 300px;
    margin-top: 100px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.viewprofile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

/* Profile Picture Section */
.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    
}

.profile-picture img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border: 2px solid #ddd;
}

.profile-header input[type="file"] {
    display: none;
}
.profile-header h1 {
    margin-bottom:30px;
    margin-left:10px;
}
.profile-header .btn {     /*change profile button*/
    margin-top: 50px;
    margin-left:-280px;
    background-color: #E14177 ;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

.profile-header .btn:hover {
    background-color:  #e02362;
}

/* edit Profile Details */
.profile-details {
    display: flex;
    margin-top: 30px;
    
}

.profile-details .bio-section,
.profile-details .education-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
}

h3 {
    font-size: 20px;
    color: rgba(41, 50, 65,1);
}

.profile-section {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Section Row and Box Layout */
  .section-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
  }

 
  
  .section-box {
    width: 45%;
    margin-bottom: 15px;
  }
  
  .section-box h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  /* Input and Textarea styles */
  textarea,
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    resize: none;
    height: 80px;
  }
  
  /* Button Styles */
  .savechanges-btn {
    background-color: #E14177;
    color: white;
    padding: 10px ;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
    margin-left:280px;
    
    
  }
  
  .savechanges-btn:hover {
    background-color: #e02362;
  }
  