#feedbackList {
    max-width: 800px;
    margin-top: 6%;
    margin-bottom: 3%;
    margin-left: 30%;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#feedbackList h2 {
    text-align: center;
    color: rgba(41, 50, 65,1);
    margin-bottom: 20px;
}



.feedback-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.feedback-item h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(41, 50, 65,1) !important;
}


.feedback-item p {
    font-size: 1em;
    color: #333;
    line-height: 1.5;
}


.feedback-item small {
    font-size: 0.9em;
    color: #aaa;
}


.tutor-reply {
    margin-top: 20px;
    background-color: #CBF1F9;
    padding: 10px;
    border-left: 5px solid #9198993d;
    border-radius: 5px;
}

.tutor-reply p {
    color: #333;
}


.create-reply-container {
    margin-top: 20px;
}

.create-reply-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.create-reply-container button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-reply-container button:hover {
    background-color: #e03570;
}


.edit-reply-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.edit-reply-container textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #bbb;
    border-radius: 5px;
    resize: vertical;
}


.btn-save {
    background-color: #ff4081; 
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-save:hover {
    background-color: #e03570;
}


.btn-cancel {
    background-color: #d32f2f; 
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #b71c1c;
}


.tutor-reply {
    margin-top: 10px;
    padding: 10px;
    background-color: #CBF1F9; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.tutor-reply p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}


.btn-edit {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-edit:hover {
    background-color: #e03570; 
}
