* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    background: url('bg.jpeg') no-repeat center center fixed;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-family:Kalam;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    height:400px;
    backdrop-filter: blur(10px);
    margin-top: 5%;
}

.login-container h1 {
    margin-bottom: 30px;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #ffffff;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 13px;
}

.login-container button {
    width: 40%;
    padding: 10px;
    background-color: #ec5273;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.login-container .register {
    margin-top: 30px;
}

.login-container .register a {
    color: white;
    text-decoration: none;
}
.register a:hover {
    text-decoration: underline;
}


