/* view public Profile Section */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height:auto;
  background-color: #f4f4f4;
}

.profile-bodyform{
  width: 1000px;
  max-width: 1000px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  height:auto;
  margin-left:25%;
  margin-top:70px;
  margin-bottom: 70px;
  
}
.viewprofile-content {
  margin-left: 20px;
  padding: 20px;
}

.viewprofile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



.viewprofile-img{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
  border: 2px solid #ddd;
}

.viewprofile-header h1 {
  color: rgba(41, 50, 65,1);
  margin-bottom: 30px;
  margin-left: 20px;
}

.edit-button {
  margin-top: 60px;
  margin-left:-200px;
  background-color: #E14177 ;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button:hover  {
  background-color:  #e02362;
}

.delete-button {
  margin-top: 60px;
  margin-left:20px;
  background-color: #E14177 ;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button:hover  {
  background-color:  #e02362;
}


.viewprofile-details {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right:10px;
  margin-bottom: 70px;
  height: auto;
  
}

.detail-item {
  margin-bottom: 5px;
  font-size: 15px;
  text-align: justify;
}

.detail-item strong {
  color: #333;
}